---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="à propos | Mathéo Chatelard" description="à propos">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="à propos"
				tagline="Voici un peu de contexte sur mon parcours."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="illustration "
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Je m'appelle Mathéo Chatelard, je suis actuellement étudiant en informatique à EPSI Montpellier.
						Je suis en première année du socle numérique, je suis passionné par le réseau et la cybersécurité,
						depuis petit je suis intéressé par le domaine de l'informatique, et mon objectif est de devenir un expert en cybersécurité.
					</p>

					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Études</h2>
				<div class="content">
					<p>Actuellement en première année du socle numérique à EPSI Montpellier, je compte me spécialiser en seconde année en Infrastructure Réseau et ensuite partir en cybersécurité.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p>Linux</p>
					<li>Nmap</li>
					<li>Metaspoilt</li>
					<li>Sqlmap</li>
					<p>Langages</p>
					<li>Python</li>
					<li>Sql</li>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
